# Paste your Mailchimp embedded form action URL here
# Found in Mailchimp > Audience > Signup forms > Embedded forms > copy the `action=` URL
NEXT_PUBLIC_MAILCHIMP_URL=https://xxx.us1.list-manage.com/subscribe/post?u=xxx&id=xxx
